<?xml version="1.0" encoding="utf-8"?>
<nlog xmls="http://www.nlog-project.org/schemas/NLog.xsd"
      xmls:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="logfile" xsi:type="File" fileName="nlog-${shortdate}.log"/>
  </targets>
  <rules>
    <logger name="*" minLevel="Info" writeTo="logFile" />
  </rules>
</nlog>